<section class="container flex-column">
  <h2>Password Recovery</h2>

  <form (ngSubmit)="onSubmit()" #signInForm="ngForm" novalidate>
    <input
      type="email"
      name="email"
      placeholder="Enter email"
      autocomplete="email"
      [(ngModel)]="email"
      #emailInput="ngModel"
      required
      email
    />

    @if (emailInput.touched && emailInput.hasError('required')) {
      <span>Email is required</span>
    } @else if (emailInput.touched && emailInput.hasError('email')) {
      <span>Enter a valid email</span>
    }

    <button type="submit" [disabled]="signInForm.invalid">Resend Password</button>
    <div class="auth-links">
      <a routerLink="/auth/sign-up">Create account</a>
      <a routerLink="/auth/sign-in">Sign In</a>
    </div>
  </form>
</section>
