.logo img {
  width: 60px;
  max-height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.logo h1 {
  font-size: 2rem;
  color: var(--accent-color3);
  cursor: pointer;
  text-wrap: nowrap;
}

@media (max-width: 600px) {
  .logo img {
    width: 50px;
  }

  .logo h1 {
    font-size: 1.75rem;
  }
}
