:host {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  inset: 0;
  z-index: 99;
  background-color: rgb(38 42 55 / 96%);
  backdrop-filter: blur(8px);
  color: var(--main-color-light);
}

.nav-list {
  gap: 0.85rem;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  width: min(280px, 80vw);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 0.8rem 1.25rem;
  border-radius: 0.25rem;
  background: rgb(255 255 255 / 8%);
  text-align: center;
  transition: all 0.25s;
  text-wrap: nowrap;
  position: relative;
}

.active {
  background-color: var(--accent-color3);
}

a:hover {
  background-color: var(--accent-color3);
}
