.nav-list {
  gap: 0.5rem;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  font-size: 1rem;
  font-weight: 600;
  padding: 0.55rem 1rem;
  border-radius: 0.25rem;
  transition: all 0.25s;
  text-wrap: nowrap;
  position: relative;
}

.active {
  background-color: var(--accent-color3);
  color: var(--main-color-light);
}

a:hover {
  background-color: rgb(255 255 255 / 8%);
}
