:host {
  position: sticky;
  top: 0;
  z-index: 120;
  display: block;
  width: 100%;
}

header {
  height: 76px;
  background-color: var(--main-color-dark);
  color: var(--main-color-light);
  padding: 0 1rem;
  box-shadow: 0 10px 30px rgb(0 0 0 / 18%);
}

.container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

/* user container buttons */
.user-container {
  gap: 0.75rem;
}

.user-container button {
  width: 42px;
  height: 42px;
  background: rgb(255 255 255 / 10%);
  outline: none;
  border: none;
  border-radius: 0.25rem;
  padding: 0;
  text-wrap: nowrap;
  color: var(--main-color-light);
  transition: all 0.25s;
}

.user-container .signBtn {
  background-color: var(--accent-color3);
}

.user-container button:hover {
  background: rgb(255 255 255 / 16%);
  transform: translateY(-1px);
}

.user-container img {
  width: 24px;
  height: 24px;
}

/* burger btn */
.burgerBtn {
  display: none;
  z-index: 130;
}

.user-container .openedMenu {
  position: relative;
  z-index: 130;
  background-color: var(--accent-color2);
}

app-mobile-nav {
  transform: translateX(100%);
  transition: all 0.3s;
}

.open {
  transform: translateX(0);
}

/* responsive styles */

@media (max-width: 980px) {
  app-nav,
  .signBtn {
    display: none;
  }

  .user-container {
    gap: 0.65rem;
  }

  .user-container .burgerBtn {
    display: flex;
  }
}
