/* #region Variables */
:root {
  --main-color-dark: #262a37;
  --main-color-light: #f1f1f1;
  --accent-color1: #3cbfc5;
  --accent-color2: #e50648;
  --accent-color3: #1984d0;
  --accent-color4: #373f51;
  --accent-color5: #d5b027;
}

/* #endregion */

/* #region Reset */
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', san-serif;
  background-color: var(--main-color-light);
  color: var(--main-color-dark);
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

label,
input,
textarea,
select,
option,
button,
a {
  font: inherit;
}

img {
  width: 100%;
  height: auto;
}
/* #endregion */

/* #region Helpers */
.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* #endregion */
